.profile {
  min-height: calc(100vh - 76px);
  background-color: #f8f9fa;
  padding: 20px 0;
}

.card {
  border: none;
  border-radius: 10px;
  max-width: 1500px;
  margin: 0 auto;
  width: 800px;
}

.card-header {
  border-radius: 10px 10px 0 0 !important;
}

.form-label {
  color: #495057;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.card-body .col-md-8 {
  flex: 0 0 74%;
  max-width: 74%;
}

.card-body .col-md-4 {
  flex: 0 0 26%;
  max-width: 26%;
}