.table {
  color: white;
  background-color: #333;
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #555;
}

.table tr:nth-child(even) {
  background-color: #444;
}

.table tr:hover {
  background-color: #777;
}