.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  gap: 80px;
  margin-top: 30px;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.product-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.product-name {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}