.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.form-border {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(198, 198, 198);
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
}

.form-border form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.user-type-selector {
  display: flex;
  border-radius: 17px;
  border: 1px solid black;
  width: 180px;
  height: 35px;
  overflow: hidden;
}

.type-button {
  flex: 1;
  border: none;
  background-color: white;
  cursor: pointer;
}

.type-button:hover {
  background-color: #f0f0f0;
}

.type-button.active {
  background-color: #0d6efd;
  color: white;
}